* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bg-img {
    background-image: url('../img/field-g3cce8be76_1920.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.bg-img::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.container .video {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

.container .video > iframe {
    width: 100%;
    height: 100vh;
}


.mydivs {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50% , -50%);
    width: 100%;
    max-width: 800px;
}

.date {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 21px;
    padding: 10px 0;
}

#clock {
    font-size: 18px;
}
.mydivs > div {
    background-color: skyblue;
    padding: 15px 15px; 
    border-radius: 15px;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}




.mydivs.active {
    top: 50%;
    transition: all 1.3s ease-in-out;
}

.divTitle {
    padding: 10px 0;
    font-style: italic;
}

.divSub {
    padding: 5px 0;
    font-size: 18px;
}

.ageBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.ageWarp {
    border: 1px solid #eee;
    padding: 15px;
    margin: 10px 0;
}
.ageSub {
    padding: 10px 0 ;
    font-size: 18px;
}
.ageBox + .ageBox {
    margin-top: 10px;
}
input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label em {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background: url(../img/checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
    background-color: #d5d5d5;
    transition: all 0.7 ease-in-out;
}

input[type="checkbox"]:checked + label em {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url(../img/checked.png) 0 0 no-repeat;
    vertical-align: middle;
    transition: all 0.7 ease-in-out;
}

.ageTitle {
    padding: 8px 0;
    margin-bottom: 7px;
}

.arrow-right {
    position: absolute;
    right: -10%;
    top: -50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #222;
}

.arrow-right.active {
    top: 50%;
    transition: all 1.3s ease-in-out;
}
.arrow-left {
    position: absolute;
    left: -10%;
    top: -50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #222;
}

.arrow-left.active {
    top: 50%;
    transition: all 1.3s ease-in-out;
}
.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.fas {
    font-size: 30px;
    color: skyblue;
}


.next.active {
    opacity: 0;
}
.prev.active {
    opacity: 0;
}

.vote-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vote-wrap > div:hover > p {
    transform: scale(1);
    transition: all 0.8s ease-in-out;
}
.vote-wrap div > p {
    width: 100%;
    max-width: 350px;
    height: auto;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
    transition: all 0.8s ease-in-out;
}
.vote-wrap div > p > img {
    width: 100%;
    height: auto;
}

.vote1 {
    text-align: center;
}

.vote2 {
    text-align: center;
}
.count {
    padding: 15px 0;
}

.btn {
    height: 50px;
    width: 200px;
    border: none;
    outline: none;
    background-color: #0a9ce5;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 10px 10px 10px;
}
.name {
    font-size: 42px;
}

.vs {
    font-size: 46px;
    padding: 0 5px;
    font-style: normal;
}
.no {
    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px ;
}
.numberover {
    background-color: #eee;
    color: #444;
    opacity: 0.8;
}

@media screen and (max-width: 620px) {
    .divTitle {
        font-size: 16px;
        padding: 7px 0;
    }
    .divSub {
        font-size: 14px;
    }
    input[type="checkbox"] + label em {
        width: 20px;
        height: 20px;
    }
    .ageSub{
        font-size: 16px;
    }
    .ageWarp {
        padding: 18px;
    }
    .arrow-right.active{
        top: 113%;
    }
    .arrow-right {
        right: 20%;
    }
    .arrow-left.active{
        top: 113%;
    }
    .arrow-left {
        left: 20%;
    }
    .btn {
        height: 38px;
        width: 130px;
        font-size: 16px;
        border-radius: 0 5px 8px 8px;
    }
    dt {
        font-size: 18px !important;
    }
    dd {
        font-size: 16px !important;
    }
    .name {
        font-size: 28px;
    }
    .vs {
        font-size: 26px;
        padding: 0 5px;
        font-style: normal;
    }
}